<div id='messages' class="messages-placeholder">
  {{#each response}}
  <div class="date-and-msg">
    <div class="date"> {{this.[0]}}</div>
    <div class="message-by-date">{{#each this}}{{#if this.text}}<div>
        {{#unless this.file}}
        {{#unless this.song}}
        <div class="message" data-msg-id="{{this._id}}">
          {{#if this.mood}}
          <div class="mood-placeholder"><i class="far {{this.mood}} fa-2x"></i></div>
          {{/if}}
          <p class="message-date">{{this.send_date}}</p>
          <span class="message-text">{{this.text}}</span>
          <div class="message-actions">
            <p class="repondre">Répondre</p>
            <p class="reponses">
              {{#if this.response.length}}{{this.response.length}} Réponses{{/if}}
            </p>
          </div>
        </div>
        {{/unless}}
        {{/unless}}
        {{#if this.song}}
        {{>mediaMsg}}
        {{/if}}
        {{#if this.file}}
        {{>mediaMsg}}
        {{/if}}
        <div class="hidden reply-placeholder">
          <form class='form-ans' data-msg-id="{{this._id}}">
            <textarea id="ans"></textarea><button id="send-answer"><i class="fas fa-paper-plane fa-2x"></i></button>
          </form>
        </div>
        <div class="hidden answers" data-msg-id="{{this._id}}">{{#if this.response.length}}{{#each this.response}}<div
            class="answer">{{this}}</div>{{/each}}{{/if}}</div>
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>